.w-100 {
    width: 50%;
    height: 100vh;
}

.slide1 {
    width: 50%;
    height: 100vh;
    opacity: 0;
    animation: nutquaphai 2s forwards;
    animation-delay: 2.4s;

}
@keyframes nutquaphai {
    0% {
        opacity: 0;
        transform: scaleX(2) translatex(1000px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
main {
    display: flex;
}

article {
    padding: 1em 5em 2em 4em; 
}
.name2{
    animation: nutqua 2s forwards;
    animation-delay: 2s;
    opacity: 0;
    word-wrap: break-word;
}
@keyframes nutqua {
    0% {
        opacity: 0;
        transform: scaleX(2) translatex(-1000px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.Name {
    width: 50%;
   
    background-color: white;
    box-shadow: 13 15px 50px white;
    
}

article h3 {
    font-size: 21px;
    color: black;
}

.Name .logo {
    height: 21%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    animation: nutlen 2s forwards;
    animation-delay: 0.7s;
}
@keyframes nutlen {
    0% {
        opacity: 0;
        transform: scaleY(2) translateY(-400px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes nutlen {
    0% {
        opacity: 0;
        transform: scaleY(2) translateY(-400px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@media screen and (max-width:870px){
    main{
        flex-direction: column;
    }
    .Name{
        width: 100%;
    }
    .slide1 {
        width: 100%;
    }
}